@model Flow
<div class="container">
    <form method="POST"> 
    <div class="row">
        <h1>Filling Flow: @Model.name</h1>
    </div>
    @{int criteriaIndex = 0;}
    @foreach(Criteria criteria in Model.criteria)
    {
        string catName = $"criteria[{criteriaIndex}].Category";
        <input type="hidden" name="@catName" value="@criteria.Category">
<div class="row">
        <h4>@criteria.prompt</h4>
        @for(int answerIndex = 0; answerIndex <  criteria.answers.Count(); answerIndex++)
        {
                        

            string criteriaName = $"criteria[{criteriaIndex}]";//".SelectedValue";
            string answerValue = criteria.answers[answerIndex].value;
            string answerDisplay = criteria.answers[answerIndex].Text;

            <input type="hidden" name='@($"{criteriaName}.Order")' value='@criteria.Order' />
            if (criteria.SelectedValue != null && criteria.SelectedValue == answerValue){
                <input type="radio" name='@($"{criteriaName}.SelectedValue")' value='@answerValue' checked>@answerDisplay<br>
            }
            else {
                <input type="radio" name='@($"{criteriaName}.SelectedValue")' value='@answerValue'>@answerDisplay<br>
            }
        }
    </div>
    criteriaIndex++;
    }
    
    <hr>
    <div class="row">
        <h4>@Model.name Form Fields</h4>
        
        @for (int fieldIndex = 0; fieldIndex < @Model.inputSurvey.fields.Count(); fieldIndex++)
        {
            var field = Model.inputSurvey.fields[fieldIndex];
            string fieldName =$"inputSurvey.fields[{fieldIndex}]";
          
        <div class="form-group">
            <label>@field.prompt</label>
            <input type="hidden" name='@(fieldName + ".Id")' value="@field.Id" />
            <input type="hidden" name='@(fieldName + ".Order")' value="@field.Order" />            
            <input class="form-control" type="text" name='@(fieldName + ".answer")' value="@field.answer" />
        </div>
        }


        <br>
        
        <button name="generateBtn" type="submit" class="btn btn-primary">Generate</button>
    </div>
    </form>
</div>
