@model AllFlows 
<div class="container">
  <h1 style = "border-bottom: 6px solid black;"></h1>
  @{  var temps = Model.allTemplates;
      var fills = Model.allFlows;}
  <div class="row">
    <div class="col-md-offset-10 col-md-2">
      <a class="btn btn-sm btn-success" asp-action="create"><span class="glyphicon glyphicon-plus"></span> Create Template</a>
    </div>
  </div>
  <div class="row">
  @foreach(Flow template in temps)
  {
        <div class="col-md-4 panel ">
              <a asp-action="initialize" asp-route-id="@template.name" style="text-decoration:none;color:black;">
                    <div class="panel-body mb-4" style="box-shadow: 5px 5px 10px  #d9dedb;">
                     <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src='@($"images/templateImages/{(template.Id.ToString())}.jpg")'data-holder-rendered="true">
                     <div class="card-body">
                         <h4>@template.name</h4>
                         <em class="d-flex justify-content-between align-items-center" style="line-height:1.5em;height:3em;word-wrap: break-word; overflow-wrap:anywhere;min-height:3em;display:flex;overflow:hidden;">@template.Description</em>
                  
                         <a class="btn btn-sm btn-default" asp-action="fields" asp-controller="template" asp-route-id="@template.Id"><span class="glyphicon glyphicon-pencil"></span>Fields</a>
                         <a class="btn btn-sm btn-default" asp-action="assign" asp-controller="template" asp-route-id="@template.Id"><span class="glyphicon glyphicon-pencil"></span>Assign</a>
                         <a class="btn btn-sm btn-danger" asp-action="remove" asp-route-id="@template.Id"><span class="glyphicon glyphicon-trash"></span>Delete</a>
                     </div>     
                    </div>
              </a>
        </div>  
  }
  </div>
  
  <hr>
  <div class="row">
    <h3>Existing Flows</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Flow</th>
            <th>Description</th>
            <th>Date started</th>
            <th>Options</th>            
          </tr>
        </thead>
        <tbody>
          @foreach(Flow fill in fills)
         { 
           
           <tr>

               <td><a class="btn btn-sm btn-primary" asp-action="fill" asp-route-id="@fill.Id" ><span class="glyphicon glyphicon-pencil"></span> Fill</a>  <a class="btn btn-sm btn-default" asp-action="download" asp-route-id="@fill.Id"><span class="glyphicon glyphicon-download"></span> Send</a>  @fill.name</td>
           <td>@fill.Description</td>
           <td>@fill.inputSurvey.timeCreated</td>
           <td><a class="btn btn-sm btn-danger" asp-action="Remove" asp-route-id="@fill.Id" method="post"><span class="glyphicon glyphicon-trash"></span> Delete</a> </td>
           </tr>
          }
        </tbody>
      </table>
  </div>
</div>
