@model AllFlows 
<div class="container">
  <h1>Start a new Flow</h1>
  @{  var temps = Model.allTemplates;
      var fills = Model.allFlows;}
  <div class="row">
  @foreach(Flow template in temps)
  {
        <div class="col-md-4">
              <a asp-action="initialize" asp-route-id="@template.name">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16b6b705ab3%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16b6b705ab3%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.70000076293945%22%20y%3D%22120.06000022888183%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                                <div class="card-body">
                                          <p class="card-text">@template.name</p>
                                                  <div class="d-flex justify-content-between align-items-center">
                                                      <p>@template.Description</p>
                                                  </div>
                                  </div>     
                    </div>
              </a>
        </div>  
  }
  </div>
  
  <hr>
  <div class="row">
    <h3>Existing Flows</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Flow</th>
            <th>Description</th>
            <th>User</th>
            <th>Date started</th>
            <th>Status</th>
            <th>Options</th>            
          </tr>
        </thead>
        <tbody>
          @foreach(Flow fill in fills)
         { 
           //TODO: Sort chronologically
           <tr>
           <td>@fill.name</td>
           <td>@fill.Description</td>
           <td>@fill.Id</td>
           <td>@fill.inputSurvey.timeCreated</td>
           <td>Chilling</td>
           <td> <a asp-action="fill" asp-route-id="@fill.Id">Edit</a> | <a asp-action="Remove" asp-route-id="@fill.Id" method="post">Delete</a>| <a asp-action="download" asp-route-id="@fill.Id">Send</a></td>
           </tr>
          }
        </tbody>
      </table>
  </div>
</div>
