@model AllFlows 
<div class="container">
  <h1>Start a new Flow</h1>
  @{  var temps = Model.allTemplates;
      var fills = Model.allFlows;}
  @foreach(Flow template in temps)
  {
<div class="row">
  <div class="col-lg-4" style="background-color:darkgrey;height: 75px;width: 100px;margin: 15px;">
      <a asp-action="initialize" asp-route-id="@template.name">@template.name</a>
  </div>  
  
  <p class="col-lg-8"style="margin:25px">@template.Description</p>
</div>
  }
      
  <hr>
  <div class="row">
    <h3>Existing Flows</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Flow</th>
            <th>Description</th>
            <th>User</th>
            <th>Date started</th>
            <th>Status</th>
            <th>Options</th>            
          </tr>
        </thead>
        <tbody>
          @foreach(Flow fill in fills)
         { 
           //TODO: Sort chronologically
           <tr>
           <td>@fill.name</td>
           <td>@fill.Description</td>
           <td>@fill.Id</td>
           <td>@fill.inputSurvey.timeCreated</td>
           <td>Chilling</td>
           <td> <a href="#">Edit</a> | <a asp-action="Remove" asp-route-id="@fill.Id" method="post">Delete</a>| <a asp-action="download">Send</a></td>
           </tr>
          }
        </tbody>
      </table>
  </div>
</div>
